# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# Ignore large database and CSV files
assets/databases/lang_data.db
assets/databases/sentences_with_audio.csv
script/
android/app/build/intermediates/assets/debug/mergeDebugAssets/flutter_assets/assets/databases/spanish_app.db
android/app/build/intermediates/assets/debug/mergeDebugAssets/flutter_assets/assets/models/ggml-small-q8_0.bin 
android/app/build/intermediates/assets/debug/mergeDebugAssets/flutter_assets/assets/databases/spanish_app.db
assets/models/ggml-small-q8_0.bin

